@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.container {
  max-width: 1000px;
  padding: 1%;
  margin: 0 auto;
}

.container nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container nav ul {
  list-style: none;
}

.container nav ul li {
  display: inline-block;
}

.container nav ul li a {
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 19px;
  border-radius: 30px;
}

.container nav ul li a {
  background-color: #da0c0c;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1bd61b;
}

h1 {
  text-align: center;
}

#logo_projeto {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20px;
}

#conteudo_pag1 {
  text-align: center;
  margin: 0px 20px;
}

#rodape_pag1 {
  text-align: center;
  padding: 10px 0px;
  margin-top: 20px;
}

#barra_navegacao {
  display: flex;
  gap: 15px;
  justify-content: center;
  justify-items: center;
  list-style: none;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 19px;
  border-radius: 30px;

}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
}

.card {
  background: #fff;
  box-shadow: 0px 2px 23px #26395347;
  border-radius: 20px;
  width: 300px;
  margin: 0px 10px;
}

.top-card {
  padding: 20px;
  padding-top: 0px;
}

.title {
  color: #2b3d59;
}

.second-text {
  color: #828fa1;
}

.media-card1 {
  height: 300px;
  width: 100%;
  text-align: center;
}

.media-card2 {
  height: 300px;  
  width: 100%;
  text-align: center;
}

.media-card3 {
  height: 300px;
  width: 100%;
  text-align: center;
}

.bottom-card {
  padding: 20px;
}

.bottom-text {
  color: rgb(0, 0, 0);
  height: 130px;
  width: 98%;
  text-align:center;
}

#formulario {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

#contato {
  text-align: center;
  padding: 10px 0px;
  margin-top: 20px;
}

a {
  color: blue
}

#video_container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-insta {
  color: rgb(0, 0, 0);
  height: 30px;
  width: 98%;
  text-align:center;
}